---
import Layout from "../layouts/Layout.astro";
import Stat from "../components/Stat.astro";
import PriceCard from "../components/PriceCard.astro";

const stats = [
  {
    title: "2M+",
    subtitle: "D'hôtels",
  },
  {
    title: "350k+",
    subtitle: "Membres dans le monde",
  },
  {
    title: "130+",
    subtitle: "Pays",
  },
];

const memberships = [
  {
    imgUrl: "/guest_card.png",
    title: "Guest",
    price: "0",
    btnLink: "/guestpass",
    btnText: "J'obtiens mon accès gratuit",
    included: [
      "Accès aux hôtels",
      "Gagne des crédits voyages",
      "10 Guest pass",
      "Assistance 24/7",
    ],
  },
  {
    imgUrl: "/vip_card.png",
    title: "VIP",
    price: "19.99",
    btnLink: "https://www.mwrlife.com/WorldConquest/join/",
    btnText: "Je me lance",
    included: [
      "Réductions plus importantes que Guest",
      "Gagne des crédits voyages",
      "15 Guest Pass + 3/mois",
      "Accès aux hôtels",
      "Accès aux resorts",
      "Accès aux vols",
      "Accès aux locations de voitures",
      "Accès aux croisières",
      "Garantie 150%",
      "Assistance 24/7",
    ],
  },
  {
    imgUrl: "/plus_card.png",
    title: "Plus",
    price: "59,99",
    btnLink: "https://www.mwrlife.com/WorldConquest/join/",
    btnText: "Je me lance",
    included: [
      "Réductions plus importantes que VIP",
      "Gagne des crédits voyages",
      "25 Guest Pass + 10/mois",
      "Accès aux hôtels",
      "Accès aux resorts",
      "Accès aux vols",
      "Accès aux locations de voitures",
      "Accès aux croisières",
      "Accès aux trains",
      "Accès aux Life Experiences",
      "Accès au Lifestyle Mall (boutique de luxe)",
      "Garantie 150%",
      "Assistance 24/7",
    ],
  },
  {
    imgUrl: "/elite_card.png",
    title: "Elite",
    price: "119,99",
    btnLink: "https://www.mwrlife.com/WorldConquest/join/",
    btnText: "Je me lance",
    included: [
      "Réductions plus importantes que Plus",
      "Gagne des crédits voyages",
      "50 Guest Pass + 20/mois",
      "120 points fidélités par mois",
      "Utilisation des points fidélités",
      "Accès aux hôtels",
      "Accès aux resorts",
      "Accès aux vols",
      "Accès aux locations de voitures",
      "Accès aux croisières",
      "Accès aux trains",
      "Accès aux séjours",
      "Accès aux Life Experiences",
      "Accès aux Life Experiences Deluxe",
      "Accès aux transferts",
      "Accès aux offres flash",
      "Accès au Lifestyle Mall (boutique de luxe)",
      "Garantie 150%",
      "Assistance 24/7",
    ],
  },
];
---

<Layout title="Voyager moins cher">
  <section id="top" class="mt-24 sm:mb-32 md:mb-35">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 md:px-8">
      <h1 class="font-bold text-center">
        Bienvenue dans la version 2.0 du voyage.
      </h1>
      <p class="text-center">
        Découvre <i>TravelAdvantage</i> : une plateforme gratuite de réservation
        exclusivement accessible à ses membres, proposée par le club <i
          >MWRLife</i
        >.
      </p>
    </div>
  </section>
  <section id="choices" class="mb-20 sm:mb-32 md:mb-35">
    <div class="px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12">
      <img
        class="mx-auto lg:col-span-6"
        src="/text.webp"
        alt="TEMPORARY"
        width="400"
      />
      <div class="lg:col-span-6 lg:self-center">
        <h2>Jusqu'à -80% de réductions</h2>
        <p>
          Bénéficie de prix de gros sur des Hôtels, Resort 5 étoiles,
          croisières, vols, offres Flash et bien plus encore !
          <i>TravelAdvantage</i> garantit des prix plus bas que la concurrence
        </p>
      </div>
    </div>
  </section>
  <section id="credits" class="mb-20 sm:mb-32 md:mb-35">
    <div class="px-4 sm:px-6 md:px-8 grid lg:grid-cols-12">
      <div class="lg:col-span-7 lg:self-center">
        <h2>Cumule des Crédits Voyages</h2>
        <p>
          Chaque réservation te rapporte des crédits voyages utilisables pour
          diminuer le cout de ta prochaine réservation ou la rendre totalement
          gratuite.<br />Ces crédits voyages n'expirent jamais et sont
          applicables sur toutes les offres !
        </p>
      </div>
      <img
        class="mx-auto row-start-1 mb-5 lg:row-auto lg:col-span-5"
        src="/credits_voyage.png"
        alt="Crédits voyages"
      />
    </div>
  </section>
  <section id="fidelity" class="mb-20 sm:mb-32 md:mb-35">
    <div class="px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12">
      <img
        class="mx-auto lg:col-span-5"
        src="/fidelity_points.png"
        alt="Points fidélités"
      />
      <div class="lg:col-span-7 lg:self-center">
        <h2>Gagne des Points Fidélités</h2>
        <p>
          Membre adhérent Elite ? Le montant de ton adhésion est converti en
          points fidélités que tu pourras faire valoir sur toutes tes
          réservations, mais également sur des types de voyages uniques et
          incroyables nommés
          <i>Life Experiences</i> !
        </p>
      </div>
    </div>
  </section>
  <section id="guestpass" class="mb-20 sm:mb-32 md:mb-35">
    <div class="px-4 sm:px-6 md:px-8 grid lg:grid-cols-12">
      <div class="lg:col-span-7 lg:self-center">
        <h2>Obtiens et distribues des Guest Pass</h2>
        <p class="mb-7">
          Partages le bon plan en donnant accès à la plateforme à ton entourage
          et remporte des Crédits Voyages sur leurs économies réalisées !<br
          />C'est gagnant/gagnant !
        </p>
        <a
          href="/access"
          class="block md:inline rounded bg-sky-500 p-2 text-center text-white cursor-pointer"
          >J'obtiens mon accès gratuit
        </a>
      </div>
      <img
        class="mx-auto row-start-1 mb-5 lg:row-auto lg:col-span-5"
        src="/guest_pass.png"
        alt="visuel guest pass"
        width="500"
      />
    </div>
  </section>
  <section id="numbers" class="mb-20 sm:mb-32 md:mb-35">
    <div class="px-4 sm:px-6 md:px-8">
      <h2 class="text-center">Partage ta passion du voyage</h2>
      <p class="text-center mb-10">
        Rejoins le club et partage ta passion du voyage avec les autres membres
        de la communauté MWR Life !
      </p>
      <div class="grid gap-4 grid-cols-1 md:grid-cols-3 justify-items-center">
        {
          stats.map((stat) => (
            <Stat title={stat.title} subtitle={stat.subtitle} />
          ))
        }
      </div>
    </div>
  </section>
  <section id="business" class="mb-20 sm:mb-32 md:mb-35">
    <div class="px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12">
      <img
        class="mx-auto lg:col-span-5 lg:self-center"
        src="/fidelity_points.png"
        alt="Points fidélités"
      />
      <div class="lg:col-span-7">
        <h2>Envie d'aller plus loin que de simplement voyager ?</h2>
        <p class="mb-7">
          MWR Life est également une opportunité d'affaire et une vraie
          expérience entreprenariale pouvant transformer ta passion du voyage en
          une activité rémunératrice.<br />Devient un véritable membre
          ambassadeur (offre Pro ou Elite), partage l'adhésion et l'opportunité
          afin de gagner des revenus résiduels en rejoignant une équipe dont la
          bienveillance et l'entraide sont les maîtres mots.<br />L'opportunité
          s'accompagne d'un plan de compensation permettant de gagner des
          revenus de diverses façons.<br /><br />
          Envie d'en savoir plus ? On en discute ? &#128516;
        </p>
        <a
          href="/rdv"
          class="block md:inline rounded bg-sky-500 p-2 mb-2 mr-2 text-center text-white cursor-pointer"
          >Je prends rendez-vous gratuitement
        </a>
        <a
          href="https://mwrlifecontent-pro.s3.amazonaws.com/PDF-and-other-files/mwrlifecompplan-FR.pdf"
          class="block md:inline rounded bg-sky-500 p-2 mb-2 mr-2 text-center text-white cursor-pointer"
          >Consulter le plan de compensation
        </a>
      </div>
    </div>
  </section>
  <section id="memberships" class="mb-20 sm:mb-32 md:mb-35">
    <div class="px-4 sm:px-6 md:px-8">
      <h2 class="text-center">Une offre adaptée à tous les besoins</h2>
      <p class="text-center mb-10">
        De la simple envie de voyager librement en économisant ou de developper
        ton business et vivre de ta passion... <br />
        il y a forcement une formule qui te correspond !
      </p>
      <div class="grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
        {
          memberships.map((offer) => (
            <PriceCard
              imgUrl={offer.imgUrl}
              title={offer.title}
              price={offer.price}
              btnText={offer.btnText}
              btnLink={offer.btnLink}
              included={offer.included}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
