---
interface Props {
  title: string;
  imgUrl: string;
  price: string;
  btnLink: string;
  btnText: string;
  included: string[];
}

const { title, imgUrl, price, btnText, btnLink, included } =
  Astro.props as Props;
---

<div class="rounded-xl bg-white">
  <div class="p-3 border-b">
    <img
      class="mx-auto mb-3"
      width="180"
      height="130"
      src={imgUrl}
      alt={"Visuel offre " + title}
    />
    <h3 class="text-center">{title}</h3>
    <p class="text-center mb-5">
      <span class="font-bold text-2xl">{price}€</span><small> / mois</small>
    </p>
    <a
      href={btnLink}
      class="block mx-auto text-center rounded bg-sky-500 py-1 px-2 text-white cursor-pointer"
    >
      {btnText}
    </a>
  </div>
  <div class="py-3 px-6">
    <p class="mb-5 text-sm">Ce qui est inclus</p>
    <ul>
      {
        included.map((item) => (
          <li class="text-xs before:content-['✓'] before:text-green-500 before:text-base">
            {item}
          </li>
        ))
      }
    </ul>
  </div>
</div>
