---
import Topbar from "./Topbar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Topbar />
    <main class="max-w-7xl mx-auto">
      <slot />
    </main>
    <style>
      :root {
        --font-size-base: clamp(1.25rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(4rem, 2.38vw + 1.85rem, 3.75rem);

        --color-text: hsl(12, 5%, 4%);
        --color-bg: hsl(10, 21%, 95%);
        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      body {
        margin: 0;
      }

      :global(p) {
        line-height: 1.6;
      }

      :global(h1) {
        font-size: var(--font-size-xl);
        line-height: 1;
        margin-bottom: 2rem;
      }

      :global(h2) {
        font-size: var(--font-size-lg);
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 1rem;
      }

      :global(h3) {
        font-size: var(--font-size-lg);
        font-weight: 700;
      }
    </style>
  </body>
</html>
