---
const navLinks = [
  { label: "Le club", href: "" },
  { label: "Les formules", href: "" },
  { label: "Prendre rendez-vous", href: "rdv" },
];
---

<nav class="sticky top-0 w-full bg-white/90">
  <div class="p-3 mx-auto md:flex md:justify-between max-w-6xl md:px-4">
    <a href="/accueil">Voyager Moins Cher</a>
    <nav aria-label="Navigation principale">
      <ul class="flex">
        {
          navLinks.map((link) => (
            <li>
              <a class="p-3" href={`/${link.href}`}>
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</nav>
